<ion-view view-title="Agenda">
    <ion-content class="content-bg" has-bouncing="false">
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <my-network-alert></my-network-alert>
        
        <div class="text-center padding" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>
    
        <ion-list>
            <div class="lamartine-card" ng-repeat="evento in eventos track by $index">
                <div class="lamartine-card-titulo">
                    {{evento.titulo}}
                </div>
                <div class="lamartine-card-date">
                    {{evento.data | amDateFormat:'D'}} de {{evento.data | amDateFormat:'MMMM'}}
                </div>
                <div class="lamartine-card-chamada">
                    {{evento.chamada}}
                </div>
                <div class="lamartine-card-footer text-right">
                    <button 
                        type="button"
                        class="button button-clear button-small button-icon-left button-card-footer"
                        ng-click="share(evento)">
                        <span class="icon ion-android-share"></span> Compartilhar
                    </button>
                </div>
            </div>
        </ion-list>

        <div ng-if="eventos.length < 1" class="no-content">
            Nenhum evento para mostrar.
        </div>

        <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadMore()"
            distance="10%">
        </ion-infinite-scroll>
        
    </ion-content>
</ion-view>
