<ion-view view-title="Lamartine Posella">
    <ion-content has-bouncing="false">
        <div class="fill-content-height biografia-container">

            <div
                class="biografia-img"
                style="background-image: url(img/lamartine_capa.jpg); background-size: cover; background-position: center center; width: 100%;">
            </div>

            <div class="biografia-sobre" style="">
                <div class="row">
                    <div class="col text-center">
                        <p>
                            Casado, 54 anos, apóstolo, músico, pianista, violonista, compositor, escritor e conferencionista.
                        </p>
                    </div>
                </div>
            </div>
            <div class="biografia-menu" style="">
                <ion-list>
                    <ion-item href="#/app/biografia-completa" class="item-icon-right">
                        Biografia
                        <span class="icon ion-ios-arrow-forward"></span>
                    </ion-item>
                    <ion-item href="#/app/linha-do-tempo" class="item-icon-right">
                        Linha do tempo
                        <span class="icon ion-ios-arrow-forward"></span>
                    </ion-item>
                </ion-list>
            </div>
            <div class="biografia-social" style="">
                <div class="row" style="">
                    <div class="col text-center" ng-repeat="redeSocial in contato.redesSociais">
                        <button
                            type="button"
                            class="button button-social button-icon icon {{redeSocial.icon}}"
                            ng-click="goSocial('{{redeSocial.url}}')">
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="biografia-contato" style="">
                <div class="text-center padding">
                    {{contato.telefone}}
                    <br>
                    {{contato.email}}
                    <br>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
