<ion-view view-title="Blog">
    <ion-content class="content-bg" has-bouncing="false">
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <my-network-alert></my-network-alert>

        <div class="text-center padding" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>

        <ion-list>
            <div class="lamartine-card" ng-repeat="post in posts track by $index">
                <div
                    ng-click="goBlog('{{post.link}}')"
                    class="lamartine-card-img"
                    preload-bg-image="{{imagemBaseUrl}}{{post.imagem}}"
                    default-image="img/fallback_image.jpg"
                    fallback-image="img/fallback_image.jpg">
                </div>
                <div
                    ng-click="goBlog('{{post.link}}')"
                    class="lamartine-card-titulo">
                    {{post.titulo}}
                </div>
                <div
                    ng-click="goBlog('{{post.link}}')"
                    class="lamartine-card-chamada">
                    {{post.chamada}}
                </div>
                <div class="lamartine-card-footer text-right">
                    <button
                        type="button"
                        class="button button-clear button-icon-left button-small button-card-footer"
                        ng-click="share(post)">
                        <span class="icon ion-android-share"></span> Compartilhar
                    </button>
                </div>
            </div>
        </ion-list>
        <div class="padding">
            <button
                type="button"
                class="button button-outline button-positive button-block"
                ng-click="goAllPosts()">
                Ver todos os posts
            </button>
        </div>

    </ion-content>
</ion-view>
