<form name="my_form">
<ion-view view-title="Contato">
        
        <ion-nav-buttons side="right">
            <button
                type="button"
                ng-click="enviaContato()"
                style="color: #FFF;"
                class="button button-clear"
                ng-disabled="my_form.$pristine|| my_form.$invalid">
                Enviar
            </button>
        </ion-nav-buttons>
        <ion-content class="">
            
                <my-network-alert></my-network-alert>
                <div style="background-color: #FFF">
                    
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Nome</span>
                                <input type="text" ng-model="contato.nome" required>
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Email</span>
                                <input type="email" ng-model="contato.email" required>
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Telefone</span>
                                <input type="tel" ng-model="contato.telefone" required>
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Assunto</span>
                                <input type="text" ng-model="contato.assunto" required>
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Mensagem</span>
                                <textarea ng-model="contato.mensagem" class="textarea-contato" required></textarea>
                            </label>

                        </div>

                        <div style="padding-bottom: 25px;">
                            <div class="text-center padding">
                                {{dadosGerais.telefone}}
                                <br>
                                {{dadosGerais.email}}
                                <br>
                            </div>
                        </div>

            <!--                 <button
                            ng-click="enviaContato()"
                            ng-disabled="my_form.$pristine|| my_form.$invalid"
                            type="submit"
                            class="button button-assertive button-block">
                            Enviar Mensagem
                        </button> -->
                                
                </div>
            
        </ion-content>
</ion-view>
</form>
