<ion-view view-title="Créditos">
    <ion-content has-bouncing="false">
        <div class="fill-content-height box-column">
            <div class="flex-row-1 sobre-content">
                <img src="img/interagir_logo.jpg" style="width: 70%;">
                <div style="text-align: center;font-size: 18px; margin-top: 60px;">
                    <div>
                        <button type="button" class="button button-clear btn-sobre" ng-click="goExternal(sobre.interagirFacebook.url)">
                            <span class="icon ion-social-facebook"></span> {{sobre.interagirFacebook.label}}    
                        </button>
                    </div>
                    <div style="margin-top: -10px;">
                        <a ng-href="tel:{{sobre.interagirTelefone}}" class="button button-clear btn-sobre">
                            <span class="icon ion-ios-telephone"></span> {{sobre.interagirTelefone}}
                        </a>
                    </div>
                    <div style="margin-top: -10px;">
                        <button
                            type="button"
                            class="button button-clear btn-sobre"
                            ng-click="goExternal(sobre.interagirSite.url)">
                            <span class="icon ion-link"></span> {{sobre.interagirSite.label}}    
                        </button>
                    </div>
                    <div style="margin-top: 40px;">
                        {{sobre.interagirLocalizacao}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
