.bar-lamartine {
	background-color: $bar-lamartine-bg!important;
}
.bar-lamartine .header-item {
	color: $bar-lamartine-text!important;
	font-family: $bar-lamartine-font-family!important;
	text-transform: uppercase!important;
	font-weight: bold!important;
}
.button-lamartine{
	color: $bar-lamartine-text!important;	
}