<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-lamartine">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button
                    class="button button-icon button-clear ion-navicon button-lamartine"
                    menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu>
        <ion-content has-bouncing="false" class="menu-lamartine-content">
            <ion-list class="menu-lamartine">
                <ion-item menu-close ui-sref-active="active" ui-sref="app.biografia">
                    Lamartine Posella
                </ion-item>
                <ion-item menu-close ui-sref-active="active" ui-sref="app.blog">
                    Blog
                    <span class="badge badge-assertive" ng-if="badges.blog">{{ badges.blog | badgeMax : 99 }}</span>
                </ion-item>
                <ion-item menu-close ui-sref-active="active" ui-sref="app.audios">
                    Áudios
                    <span class="badge badge-assertive" ng-if="badges.audios">{{ badges.audios | badgeMax : 99 }}</span>
                </ion-item>
                <ion-item menu-close ui-sref-active="active" ui-sref="app.aovivo">
                    Aovivo
                </ion-item>
                <ion-item menu-close ui-sref-active="active" ui-sref="app.videos">
                    Vídeos
                    <span class="badge badge-assertive" ng-if="badges.videos">{{ badges.videos | badgeMax : 99 }}</span>
                </ion-item>
                <ion-item menu-close ui-sref-active="active" ui-sref="app.agenda">
                    Agenda
                    <span class="badge badge-assertive" ng-if="badges.agenda">{{ badges.agenda | badgeMax : 99 }}</span>
                </ion-item>
                <ion-item href="#" ng-click="goLoja()">
                    Loja Virtual
                </ion-item>
                <ion-item menu-close ui-sref-active="active" ui-sref="app.contato">
                    Contato
                </ion-item>
                <ion-item menu-close ui-sref-active="active" ui-sref="app.sobre">
                    Créditos
                </ion-item>
<!--                 <ion-item menu-close ui-sref-active="active" ui-sref="app.testes">
                    Testes
                </ion-item> -->
            </ion-list>
<!--             <button menu-close ui-sref="app.sobre" class="button button-clear btn-menu-info">
                <span class="icon ion-information-circled"></span> Créditos
            </button> -->

            <div class="padding" style="padding-top: 60px;" ng-if="!authData">
                <button
                    type="button"
                    class="button button-positive button-block button-facebook button-small icon ion-social-facebook"
                    ng-click="doLoginFacebook(null)">
                    &nbsp;Entrar com Facebook
                </button>
            </div>
        </ion-content>

        <ion-footer-bar align-title="left" ng-show="authData">
            <img
                preload-imag
                default-image="img/fallback_image.jpg"
                fallback-image="img/fallback_image.jpg"
                ng-src="https://graph.facebook.com/{{authData.facebookId}}/picture"
                style="width: 30px; height: 30px; border-radius: 100%;margin-top: 3px;"> 
            <div style="font-size: 16px;margin-left: 10px; margin-top: 9px;color: #777;">
                {{authData.name}}
            </div>
            <div class="title"></div>
            <div class="buttons">
                <button
                    ng-click="doLogout()"
                    type="button"
                    href="#app/configuracoes-de-conta"
                    class="button button-icon icon ion-power button-logoff">
                </button>
            </div>
        </ion-footer-bar>

    </ion-side-menu>
</ion-side-menus>
